
EXPO_PUBLIC_STAGE =dev

#windows ip cable: terminal: ipconfig -- adaptador ethernet ethernet --- Dirección IPv4
EXPO_PUBLIC_API_URL=http://Dirección IPv4:3000/api

EXPO_PUBLIC_API_URL_IOS=http://localhost:3000/api


#windows ip cable: terminal: ipconfig -- adaptador ethernet ethernet --- Dirección IPv4
EXPO_PUBLIC_API_URL_ANDROID=http://Dirección IPv4:3000/api